<h2>Events</h2>

<a href="/events/new">Add an event</a>

<% @events.each do |event| %>

  <p><%= event.name %>
    <%= event.gold_winner.name if event.gold_winner != nil %>

    <%= event.silver_winner.name if event.silver_winner != nil %>

    <%= event.bronze_winner.name if event.bronze_winner != nil %>

    
    <a href="/events/<%= event.id %>/edit">edit</a>


    <% if event.gold_winner != nil %>
    <a href="/results/<%= event.id %>/edit">update</a>
    <% else %>
    <a href="/results/<%= event.id %>/new">add results</a>
    <% end %>

    <form action="/events/<%= event.id %>" method="post">
    <input type="submit" value="Delete"/>
    <input name="_method" type="hidden" value="delete"/>  
    </form>
    
  </p>

<% end %>