<h2>Teams</h2>

<a href="/teams/new">Add a team</a>

<% @team = @teams.sort_by { |team| team.points_total } %>
<% @teams.each do |team| %>

<div class="grid">
<div class="grid-row grid-row-sm">

 <a href="teams/<%= team.id %>">
 <div class="cell"><%= team.name %></a></div> 
 <div class="cell"><%= team.code %></div>
 <div class="cell"><%= team.golds %></div>
 <div class="cell"><%= team.silvers %></div>
 <div class="cell"><%= team.bronzes %></div>
 <div class="cell"><%= team.points_total %></div>

 <div class="cell"><a href="/teams/<%= team.id %>/edit">edit</a></div>

 <div class="cell"><form action="/teams/<%= team.id %>" method="post">
 <input type="submit" value="Delete"/>
 <input name="_method" type="hidden" value="delete"/>  
 </form></div>

 </div>
 </div>
 
<% end %>