<h2>Teams</h2>

<a href="/teams/new">Add a team</a>

<% @teams.each do |team| %>
 <p><%= team.name %> <%= team.code %> <%= team.golds %> <%= team.silvers %> <%= team.bronzes %> <%= team.points_total %></p>
 <img src="<%=team.flag_url %>">

 <a href="/teams/<%= team.id %>/edit">edit</a>

 <form action="/teams/<%= team.id %>" method="post">
 <input type="submit" value="Delete"/>
 <input name="_method" type="hidden" value="delete"/>  
 </form>

 <br>
<% end %>