<h2>Teams</h2>

<% @teams.each do |team| %>
 <p><%= team.name %> <%= team.code %> <%= team.golds %> <%= team.silvers %> <%= team.bronzes %> <%= team.points_total %></p>
 <img src="<%=team.flag_url %>">

 <a href="/teams/<%= team.id %>/edit">Edit</a>

 <form action="/teams/<%= team.id %>" method="post">
 <input type="submit" value="Delete"/>
 <input name="_method" type="hidden" value="Delete"/>  
 </form>
 <br>
<% end %>