<h2>Teams</h2>

<a href="/teams/new">Add a team</a>

<% @teams.each do |team| %>
 <p><%= team.name %> <%= team.code %> <%= team.golds %> <%= team.silvers %> <%= team.bronzes %> <%= team.points_total %></p>
 <img src="<%=team.flag_url %>">

 <a href="/teams/<%= team.id %>/edit">edit</a>

 <a href="/teams/<%= team.id %>/delete">delete</a>

 <br>
<% end %>