<h2>Teams</h2>

<a href="/teams/new">Add a team</a>
<hr>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Code</th> 
    <th><div id="gold"></div></th>
    <th><div id="silver"></div></th>
    <th><div id="bronze"></div></th>
    <th>Points</th>
    <th></th>
    <th></th>
  </tr>

  <% @teams = @teams.sort { |team1, team2| team2.points_total <=> team1.points_total } %>
  <% @teams.each do |team| %>

  <tr>

   <td><a href="teams/<%= team.id %>"><%= team.name %></a></td> 
   <td><%= team.code %></td>
   <td><%= team.golds %></td>
   <td><%= team.silvers %></td>
   <td><%= team.bronzes %></td>
   <td><%= team.points_total %></td>

   <td><a href="/teams/<%= team.id %>/edit">edit</a></div></td>

   <td>
     <form action="/teams/<%= team.id %>" method="post">
       <input type="submit" value="Delete"/>
       <input name="_method" type="hidden" value="delete"/>  
     </form></div>
     <td> 
     </tr>
     <% end %>

