<div id="show">
<h1><%= @team.name %></h1>

<br>
<img src="<%= @team.flag_url%>">
<h1><%= @team.code() %></h1>
<h2>Gold: <%= @team.golds %> Silver: <%= @team.silvers %> Bronze: <%= @team.bronzes %></h2>

</div>
