<h2>Update Event Results</h2>

  <form action="/results/<%= @event.id %>" method="post">

    <input type="hidden" name="_method" value="put">

    <label for="gold_winner">Gold winner:&nbsp;&nbsp;</label>
    <select name="gold_id">
      <% @athletes = @athletes.sort_by { |athlete| athlete.name } %>
      <% @athletes.each do |athlete| %>
      
      <option value ="<%= athlete.id %>"<%= 'selected' if athlete.id == @result.gold_id %>><%= athlete.name %></option>
      <% end %>
    </select>&nbsp;&nbsp;

    <label for="silver_winner">Silver winner:&nbsp;&nbsp;</label>
    <select name="silver_id">
      <% @athletes.each do |athlete| %>
      <option value ="<%= athlete.id %>" <%= 'selected' if athlete.id == @result.silver_id %>><%= athlete.name %></option>
      <% end %>
    </select>&nbsp;&nbsp;

    <label for="bronze_winner">Bronze winner:&nbsp;&nbsp;</label>
    <select name="bronze_id">
      <% @athletes.each do |athlete| %>
      <option value ="<%= athlete.id %>" <%= 'selected' if athlete.id == @result.bronze_id %>><%= athlete.name %></option>
      <% end %>
    </select>&nbsp;&nbsp;


    <input type='submit' value="Update Results">
  </form>
