<h2>Athletes</h2>

<a href="/athletes/new">Add an athlete</a>

<% @athletes = @athletes.sort_by { |athlete| athlete.golds } %>
<% @athletes.each do |athlete| %>
 <p><%= athlete.name %> <%= athlete.team.code %> <%= athlete.golds %> <%= athlete.silvers %> <%= athlete.bronzes %></p>

 
 <a href="/athletes/<%= athlete.id %>/edit">edit</a>

 <form action="/athletes/<%= athlete.id %>" method="post">
 <input type="submit" value="Delete"/>
 <input name="_method" type="hidden" value="delete"/>  
 </form>

 <% end %>