<h2>Athletes</h2>

<a href="/athletes/new">Add an athlete</a>
<hr>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Team</th> 
    <th><div id="gold"></div></th>
    <th><div id="silver"></div></th>
    <th><div id="bronze"></div></th>
    <th></th>
  </tr>

  <% @athletes = @athletes.sort_by { |athlete| athlete.name } %>
  <% @athletes.each do |athlete| %>

  <tr>
   <td><a href="/athletes/<%= athlete.id %>/edit"><%= athlete.name %></a></td>
   <td><%= athlete.team.code %></td>
   <td><%= athlete.golds %></td>
   <td><%= athlete.silvers %></td>
   <td><%= athlete.bronzes %></td>

   <td>
     <form action="/athletes/<%= athlete.id %>" method="post">
       <input type="submit" value="Delete"/>
       <input name="_method" type="hidden" value="delete"/>  
     </form>
   </td>
 </tr>
 <% end %>
